* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(233, 233, 233);
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(233, 233, 233);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
}